header img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

header {
  background-color: #2C8E30;
  height: 80px;
  padding: 20px;

}

.bms {
  text-transform: uppercase;
  color: white;
  margin-left: 10px;
}

.line {
  height: 10px;
  background-color: #FCA238;
}

.content a {
  padding-right: 20px;
  color: black;
}

.linya {
  border-bottom: solid black 1px;
}

.forms {
  background-color: #2c8e2f7d;
  padding: 20px;
  border-radius: 10px;
}

.forms textarea {
  resize: none;
}

.cret {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

footer {
  margin-top: 40px;
  height: 15px;
  background-color: #2C8E30;
}

section {
  height: 100VH;
}

.profd img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.rply textarea {
  resize: none;
}

.active {
  text-decoration: underline;
}